POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=task_management
DATABASE_URL=postgresql+psycopg2://postgres:postgres@db:5432/task_management
REDIS_URL=redis://redis:6379/0
SECRET_KEY=f9d8A3v!2Qx7LrT#kP0sHjW8zYb6NcR1
DEBUG=True
UPLOAD_DIR=app/uploads
